@model List<Announcement>

<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Duyurular</h2>
                </div>
            </div>


            <div class="owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <img src="~/images/@item.AnnouncementImg" alt="img">
                        <div class="down-content">
                            <h4>@item.AnnouncementTitle</h4>
                            <p>@item.AnnouncementDesc</p>

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>